body {
  margin: 0;
  padding: 0;
  background-image: url("tardis.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    text-align: center;
    color:black;
    background-color: blue;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 4);
}

h2 {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    text-align: center;
    color:darkred;
    background-color:black;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 4);
}

h4 {
  font-family: 'Khand', cursive;
  font-size: 25px;
  text-align: left;
  margin: 0;
  color: white;
  text-color: 5px 5px black;
}

.choices {
    font-family: 'Cutive Mono';
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
}

h3 {
    font-family: 'Creepster', cursive;
    font-size: 18px;
    text-align: center;
    color: darkred;
    background-color: black;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 4);
    border-bottom: 1px solid rgba(255, 255, 255, 4); 
  }

button {
  background-color: #7b339b;
  color: #fff;
  border: none;
  display: block;
  width: 90%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Creepster";
  padding: 1.1rem;
  margin: 0;
  transition-property: background-color;
  transition-duration: 1s;
}

button:hover {
  background-color: limegreen;
}

p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gluten';
}

a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gluten';
}